.hero {
    .container {
        position: relative;
        margin-top: -80px;

        .content-hero {

            height: 100vh;

            .wrapper.three {
                background-color: transparent;
                // border: 2px solid red;
                position: absolute;
                top: 34%;
                left: 37%;
            }

            .three p {
                font-size: 4.5rem;
                font-weight: 1000;

                .h1 {
                    color: #F94C10
                }

                .h2 {
                    color: #fff;
                }

                .year {
                    font-size: 5.5;
                    color: #fff;
                    position: absolute;
                }
            }

            .description {
                // border: 2px solid red;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                top: 45%;
                left: 32%;
                color: white;

                p {
                    // font-weight: 700;
                    margin-top: 10px;
                    font-size: 28px;
                }

                .buttons {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-around;

                    .btn1 {
                        .btn-primary {
                            color: white;
                            background-color: transparent;
                            padding: 12px 24px;
                            border: 2px solid white;
                            font-size: 16px;
                            height: 50px;
                            width: 180px;
                            border-radius: 10px;
                            transition: all ease-in 0.3s;
                            cursor: pointer;
                            // margin-right: 200px;

                            &:hover {
                                background-color: #FF6D02;
                                color: white;
                                outline: 2px solid #FF6D02;
                            }
                        }

                    }

                    .btn2 {
                        .btn-secondary {
                            color: white;
                            background-color: transparent;
                            padding: 12px 24px;
                            border: 2px solid white;
                            font-size: 16px;
                            height: 50px;
                            width: 180px;
                            border-radius: 10px;
                            transition: all ease-in 0.3s;
                            cursor: pointer;

                            &:hover {
                                background-color: #FF6D02;
                                color: white;
                                outline: 2px solid #FF6D02;
                            }
                        }
                    }

                }
            }

        }

        .carousel-bullet {
            position: absolute;
            bottom: 3%;
            left: 45%;
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                width: 12px;
                height: 12px;
                background-color: rgb(160, 159, 159);
                margin-left: 10px;
                border-radius: 50%;
                cursor: pointer;
                box-shadow: 3px 2px 2px rgba(73, 72, 72, 0.338);
            }
        }

    }

}

@media only screen and (max-width: 700px) {
    .hero {
        .container {
            display: flex;
            justify-content: center;
            // flex-direction: column;
            align-items: center;
            // border: 2px solid yellow;
            width: 100%;

            .content-hero {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                border: 2px solid orange;

                // align-items: start;
                // justify-content: start;
                .wrapper.three {
                    background-color: transparent;
                    // position: absolute;
                    // top: 30%;
                    // width: 80%;
                     left: 30%;
                    // border: 2px solid red;
                }

                .three {
                    position: absolute;
                    top: 200px;
                    left: 6%;
                    // border: 2px solid red;
                    width: 50%;
                    

                    p {
                        font-size: 46px;
                        font-weight: 700;
                        text-align: center;
                    }
                }

                .description {
                    position: absolute;
                    top: 40%;
                    left: 15%;
                    width: 70%;
                    // // color: white;

                    p {
                        // border: 2px solid red;
                        // color: #030027;
                        width: 100%;
                        font-size: 18px;
                        font-weight: 700;
                        text-align: center;
                    }

                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-evenly;
                    align-items: center;
                    // border: 2px solid red;
                    align-items: center;
                    font-size: 18px;

                    .btn1 {
                        // border: 2px solid red;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .btn-primary {
                            margin-bottom: 20px;
                            margin-right: 10px;

                        }

                    }
                }
            }

            .carousel-bullet {
                position: absolute;
                bottom: 3%;
                left: 30%;
                // border: 2px solid red;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .hero {
        .container {
            display: flex;
            justify-content: center;
            // flex-direction: column;
            align-items: center;
            // border: 2px solid yellow;
            width: 100%;

            .content-hero {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                border: 2px solid orange;

                // align-items: start;
                // justify-content: start;
                .wrapper.three {
                    background-color: transparent;
                    position: absolute;
                    top: 30%;
                    width: 80%;
                    left: 15%;
                    // border: 2px solid red;
                }

                .three {
                    position: absolute;
                    top: 200px;
                    left: 6%;
                    // border: 2px solid red;
                    width: 100%;

                    p {
                        font-size: 36px;
                        font-weight: 700;
                    }
                }

                .description {
                    position: absolute;
                    top: 40%;
                    left: 15%;
                    width: 70%;
                    // // color: white;

                    p {
                        // border: 2px solid red;
                        // color: #030027;
                        width: 100%;
                        font-size: 18px;
                        font-weight: 700;
                        text-align: center;
                        margin-top: 20px;
                    }

                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-evenly;
                    align-items: center;
                    // border: 2px solid red;
                    align-items: center;
                    font-size: 18px;

                    .btn1 {
                        // border: 2px solid red;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .btn-primary {
                            margin-bottom: 20px;
                            margin-right: 10px;

                        }

                    }
                }
            }

            .carousel-bullet {
                position: absolute;
                bottom: 3%;
                left: 30%;
                // border: 2px solid red;
            }
        }
    }
}