.container {
    .content {
        height: 100vh;

        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 5px 15px;
            transform: translate(-50%, -50%);
            background: grey;
            color: white;
            border-radius: 20px;
            font-size: 50px;
        }
    }
}