  .OurTeam {
    height: 100%;
    background-image: url("../../assets/demoPhotos/eventbg6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    .heading {
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      font-size: 40px;

      .h1 {
        color: #FF6F0F;
        margin-right: 10px;
      }
    }

    .team-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      margin-bottom: 100px;

      .cards {
        display: grid;
        gap: 90px;
        grid-template-columns: repeat(4, 1fr);

        .ui-card {
          // width: 350px;
          // border: 2px solid red;
          position: relative;
          overflow: hidden;
          transition: all 0.3s ease-out;
        }

        .ui-card .image {
          transform: scale(1);
          transition: all 0.3s ease-out;
        }

        .ui-card:hover img {
          transform: scale(1.1) translateY(-20px);
          opacity: 0.3
        }

        .ui-card .description {
          position: absolute;
          bottom: 0%;
          left: 0;
          padding: 15px;
          width: 100%;
          text-align: center;
          color: #fff;
          // border: 2px solid red;
          font-size: 18px;
        }

        .ui-card .description h3 {
          font-weight: 700;
          font-size: 32px;
          margin: 0 0 20px;
          transform: translateY(30px);
          opacity: 0;
          transition: all 0.3s ease-out;

        }

        .ui-card .description p {
          color: #FF6F0F;
          font-size: 24px;
        }

        .ui-card:hover .description h3 {
          opacity: 1;
          transform: translateY(0px);
        }

        .ui-card:hover .description p {
          opacity: 1;
          transform: translateY(0px);
        }

      }

      .chief-coordinator {
        background-color: #ffa500;
        color: white;
        border: 2px solid white;
        border-radius: 10%;
      }

      /* Responsive adjustments */
      @media (max-width: 768px) {
        .team-container .cards {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
      }
    }
  }