.footer {
    // border: 2px solid red;
    background-color: #030027;
    position: relative;
    height: 400px;
    width: 100%;
    left: 0;
    color: white;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        // border: 2px solid red;
        width: 100%;
        height: 100%;

        .part1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 85%;

            .left {
                // border: 2px solid red;

                .title {
                    margin-bottom: 10px;
                    font-size: 2.5rem;

                    .p1 {
                        color: #FF6F0F;
                    }
                }

                .desc {
                    margin-bottom: 25px;
                }

                .social-media {
                    display: flex;
                    // border: 2px solid red;
                    width: 45%;
                    height: 52px;
                    justify-content: space-around;
                    align-items: center;

                    .icons {
                        border: 2px solid rgb(161, 177, 191);
                        color: rgb(161, 177, 191);
                        height: 100%;
                        width: 33%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }

            .right {
                // border: 2px solid white;
                height: 170px;
                width: 499px;

                .address {
                    margin-bottom: 20px;
                }

                p {
                    color: rgb(161, 177, 191);
                    margin-bottom: 15px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // border: 2px solid red;
                        font-size: 26px;
                    }
                }
            }
        }

        .part2 {
            // border: 2px solid white;
            border-top: 2px solid white;
            opacity: 0.3;

            .bottom {
                display: flex;
                // flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-left: 180px;
                font-size: 20px;
                padding: 12px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .footer {

        // border: 2px solid red;
        // width: 100%;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .part1 {
                display: flex;
                flex-direction: column;
                height: 100%;
                margin: auto;
                // border: 2px solid red;
                width: 100%;

                .left {
                    // border: 2px solid red;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding-left: 30px;
                }

                .right {
                    margin-top: 10px;
                    position: absolute;
                    padding-left: 30px;
                    top: 45%;
                    left: 0;
                    padding-bottom: 12px;
                }
            }

            .part2 {
                .bottom {
                    margin-left: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .footer {

        // border: 2px solid red;
        // width: 100%;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .part1 {
                display: flex;
                flex-direction: column;
                margin: auto;
                // border: 2px solid rgb(0, 255, 170);
                width: 100%;

                .left {
                    // border: 2px solid red;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding-left: 15px;
                    height: 100%;
                    font-size: 18px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-top: 20px;
                        padding-left: 30px;
                    }

                    .desc {
                        position: absolute;
                        font-size: 20px;
                        top: 45px;
                        width: 80%;
                        // border: 2px solid white;
                    }

                    .social-media {
                        display: flex;
                        // border: 2px solid red;
                        width: 45%;
                        height: 52px;
                        justify-content: space-around;
                        align-items: center;
                        position: absolute;
                        top: 100px;

                        .icons {
                            border: 2px solid rgb(161, 177, 191);
                            color: rgb(161, 177, 191);
                            height: 100%;
                            width: 33%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    }
                }

                .right {
                    margin-top: 10px;
                    position: absolute;
                    padding-left: 30px;
                    top: 40%;
                    left: 0;
                    padding-bottom: 12px;
                    // border: 2px solid white;
                }
            }

            .part2 {
                border: 2px solid red;
                display: flex;
                align-items: center;
                justify-content: center;

                .bottom {}
            }
        }
    }
}

@media screen and (max-width:350px) {
    .footer {

        .container {

            .part1 {

                .left {
                    padding-left: 15px;
                    // border: 2px solid red;

                    .title {
                        // display: flex;
                        // justify-content: start;
                        // align-items: start;
                        // border: 2px solid red;
                        // padding-right: 30px;
                        padding-top: 20px;
                        padding-left: 10px;
                    }

                    .social-media {
                        // border: 2px soild red;
                        width: 55%;

                        .icons {}
                    }
                }

                .right {
                    // border: 2px solid red;
                    margin-top: 10px;
                    position: absolute;
                    padding-left: 15px;
                    top: 35%;
                    width: 100%;
                    left: 0;
                    padding-top: 20px;

                    p {
                        color: rgb(161, 177, 191);
                        margin-bottom: 5px;
                        font-size: 18px;
                        display: flex;
                        align-items: center;

                        span {
                            margin-right: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // border: 2px solid red;
                            font-size: 18px;
                        }
                    }
                }
            }

            .part2 {
                border: 2px solid white;
                width: 100%;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                .bottom {
                    border: 2px solid red;
                    width: 100%;
                    margin-left: 0;

                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}